<p>Give your email address and we'll send you instructions on how to 
create a new one.</p> 
<%= form_tag %> 
<label for="email">Email</label><br /> 
<%= text_field_tag "email" %><br /> 
<%= submit_tag "Submit" %> 
<%= end_form_tag %>