<p> 
  View: <%= link_to "all", :id => '' %>, 
  <%= link_to "open", :id => 'open' %>, 
  <%= link_to "processed", :id => 'processed' %>, 
  <%= link_to "closed", :id => 'closed' %>, 
  <%= link_to "failed", :id => 'failed' %> 
</p>